<!DOCTYPE html>
<html>
<head>
  <title>Eval</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

  <body ng-app="evalApp">

    <div>

      <h2>1 + 1 = {{ 1 + 1}}</h2>

      <div ui-view>
          ui-view wrap
      </div>

    </div>

  </body>
</html>
